@model variaveis

@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>
        o valor de <b>UserCount</b> é: <i>@Model.userCount</i>
    </p>

    <p>
        o valor de <b>totalCount</b> é: <i>@Model.totalCount</i>
    </p>

    <p>
        o valor de <b>MinValue</b> é: <i>@Model.MinValue</i>
    </p>

    <p>
        o valor de <b>MaxValue</b> é: <i>@Model.MaxValue</i>
    </p>
    <p>
        o valor de <b>MinshortValue</b> é: <i>@Model.MinshortValue</i>
    </p>

    <p>
        o valor de <b>MaxshortValue</b> é: <i>@Model.MaxshortValue</i>
    </p>
    <p>
        o valor de <b>MinintValue</b> é: <i>@Model.MinintValue</i>
    </p>

    <p>
        o valor de <b>MaxintValue</b> é: <i>@Model.MaxintValue</i>
    </p>
    <p>
        o valor de <b>MinuintValue</b> é: <i>@Model.MinuintValue</i>
    </p>

    <p>
        o valor de <b>MaxuintValue</b> é: <i>@Model.MaxuintValue</i>
    </p>
    <p>
        o valor de <b>MinlongValue</b> é: <i>@Model.MinlongValue</i>
    </p>

    <p>
        o valor de <b>MaxlongValue</b> é: <i>@Model.MaxlongValue</i>
    </p>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
